body {
  background-color: rgb(200, 155, 243);
}

.navbar {
  min-height: 8vh;
  background-color: blueviolet;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ultra', serif;
  padding: 4px 12px;
  color: gold;
  border: 12px solid rgb(230, 226, 226);
  margin: 0;
}

i {
  margin-left: 2px;
}

#gogogo2 {
  margin: 2rem;
  height: 9rem;
  width: 17rem;
  border-radius: 45px 45px 45px 45px;
  background-color: tomato;
  border: 12px solid white;
  font-family: 'Ultra', serif;
  color: gold;
}

#gogogo2:hover {
  background-color: rgb(241, 135, 116);
  border: 12px solid gold;
  cursor: pointer;
}
#gogogo2:active {
  background-color: rgb(202, 139, 128);
  color: rgb(211, 205, 172);
}

.balance-area {
  margin-top: 10px;
  background-color: rgb(207, 182, 230);
  height: 45vh;
  border-radius: 25px 25px 0 0;
}

.balance-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6px 8px;
  padding: 14px;
  font-family: 'Ultra', serif;
  font-size: 2rem;
  color: rgb(71, 95, 199);
}

.balance-box #box {
  height: 2rem;
  width: 20rem;
  border: 9px solid rgb(71, 95, 199);
  background-color: rgb(48, 29, 29);
}

.balance-box input {
  height: 2rem;
  width: 20rem;
  outline: none;
  direction: ltr;
  background-color: black;
  color: green;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.navbar img {
  height: 24px;
}

.ezslots > .window {
  overflow: hidden;
  display: inline-block;
}
.ezslots > .window > .slider > .symbol {
  text-align: center;
  display: table;
}
.ezslots > .window > .slider > .symbol > .content {
  padding: 0px;
  margin: 0px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.slot-indicator {
  text-align: center;
}
.slot-indicator h1 {
  text-align: center;
  width: 150px;
  border: 7px solid yellow;
}

.info-box {
  text-align: center;
  margin: 0;
}

.info-box h1 {
  color: rgb(220, 247, 233);
  padding: 0;
  margin: 0;
}

.info-box i {
  padding: 0;
  margin: 0;
}

.window {
  font-size: 40px;
  font-family: arial, helvetica, sans-serif;
  border: 12px solid rgb(230, 226, 226);
}

#winBox {
  color: gold;
}

.balance-box #box-2 {
  height: 2rem;
  width: 20rem;
  border: 9px solid rgb(71, 95, 199);
  background-color: rgb(48, 29, 29);
  color: gold;
  font-size: 2rem;
  padding: 2px;
  font-family: 'Ultra', serif;
}

.debugger-box {
  height: 5rem;
  border: 6px solid rgb(252, 248, 244);
  background-color: rgb(236, 228, 228);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.debugger-box .container img {
  height: 3rem;
}
.debugger-box .container img:hover {
  cursor: pointer;
}

.debugger-box #selectionBox {
}
