body {
  background-color: rgb(200, 155, 243);
}

.navbar {
  min-height: 8vh;
  background-color: blueviolet;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ultra', serif;
  padding: 4px 12px;
  color: gold;
  border: 12px solid rgb(230, 226, 226);
  margin: 0;
}

i {
  margin-left: 2px;
}

#gogogo2 {
  margin: 2rem;
  height: 9rem;
  width: 17rem;
  border-radius: 45px 45px 45px 45px;
  background-color: tomato;
  border: 12px solid white;
  font-family: 'Ultra', serif;
  color: gold;
}

#gogogo2:hover {
  background-color: rgb(241, 135, 116);
  border: 12px solid gold;
  cursor: pointer;
}
#gogogo2:active {
  background-color: rgb(202, 139, 128);
  color: rgb(211, 205, 172);
}

.balance-area {
  margin-top: 70px;
  background-color: rgb(207, 182, 230);
  height: 45vh;
  border-radius: 25px 25px 0 0;
}

.navbar img {
  height: 24px;
}

.ezslots > .window {
  overflow: hidden;
  display: inline-block;
}
.ezslots > .window > .slider > .symbol {
  text-align: center;
  display: table;
}
.ezslots > .window > .slider > .symbol > .content {
  padding: 0px;
  margin: 0px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.slot-indicator {
  text-align: center;
}
.slot-indicator h1 {
  text-align: center;
  width: 150px;
  border: 7px solid yellow;
}

.info-box {
  text-align: center;
  margin: 0;
}

.info-box h1 {
  color: rgb(220, 247, 233);
  padding: 0;
}

.window {
  font-size: 40px;
  font-family: arial, helvetica, sans-serif;
  border: 12px solid rgb(230, 226, 226);
}
